# TypeScript
*.tsbuildinfo

# Vite
dist/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Office temp files
~$*
